.lista-scooters{  
    padding-top: 60px;
    padding-bottom:120px;   
    
}
.container-scooters{
    max-width: 1400px;
    display: flex;
    gap: 40px;    
    padding: 0 20px 20px 20px;       
   
    flex-wrap: wrap;

    
   
}


.lista-scooters h2{
   
    margin-bottom: 40px;
    color: var(--azul); 
   
}
.lista-scooters h2 span{
    color: var(--laranja-claro);
}
.container-scooters h3{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}
.container-scooters h3::before{
    display: inline-block;
  
    content:"";
    width: 12px;
    height: 8px;
    margin-right: 8px;
    background-color: var(--laranja-claro);
    transition: 0.2s;
}
.container-scooters a:hover h3::before{
    width: 24px;
}
.container-scooters li{
    flex: 1;
    min-width: 280px;
}
.container-scooters li span{
    padding-left: 20px;
}
.container-scooters img{
    max-width: 280px;
    margin-bottom: 16px;
}
.container-scooters a{
    display: block;
}

/*---------MediaQueriesLista-Scooters*/

    
@media (max-width:800px){
    .container-scooters{
        overflow: scroll;
        overflow-x: auto;  
        flex-wrap: nowrap;
    }
   
    .lista-scooters{       
        padding-bottom: 60px;
    }   
    .container-scooters ul{
        gap: 20px;
        
    }
}