.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--amarelo-claro), var(--amarelo));
  border-radius: 4px;
  /*box-shadow: 0 1px 2px rgb(0, 0, 0.1);*/
  text-transform: uppercase;
  color: var(--laranja);
  font-size: 18px;
  line-height: 1.33;
  max-width: max-content;
}
.botao:hover {
  background: linear-gradient(var(--amarelo-light), var(--amarelo));
}
@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 1rem;
  }
}

/*Titulos paginas internas*/

.titulo-bg {
  background-color: var(--azul);
  padding-top: 60px;
  padding-bottom: 60px;
}
.titulo p {
  margin-bottom: 4px;
  color : #fff;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: lowercase;
    font-weight: 400;
  }
}
